*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fff;
}

.header {
  display: flex;
  text-align: center;
  width: auto;
  flex-direction: column;
}

.header h1 {
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.header h1 span {
  color: #f30505;
  transition: all 0.5s ease;
  cursor: pointer;
}

.header h1 span:hover {
  color: black;
}

.shaking {
  animation: shake 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(10);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.header h3 {
  font-size: 1rem;
  margin-top: 10px;
}

.header p {
  text-align: center;
  font-size: 1rem;
  margin-top: 4px;
  margin-bottom: 0.7rem;
  flex-direction: column;
}

.header h2 {
  font-size: 1.8rem;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
  width: auto;
  background-color: #36f0f0;
  border-radius: 4px;
  padding: 15px 5px;
}

.header h3 {
  position: relative;
  font-size: 1.3rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 1rem;
  width: auto;
}

.content h1 {
  font-size: 2rem;
  background-color: #36f0f0;
  color: black;
  text-align: center;
  width: auto;
  padding: 15px 10px;
  border-radius: 4px;
}

.content h4 {
  display: flex;
  position: absolute;
  margin-left: 5px;
  font-size: 1.3rem;
}

.content h5 {
  display: block;
  font-size: 1.1rem;
  text-align: center;
  padding: 2rem 2rem;
  font-weight: 900;
}
.content p {
  display: flex;
  font-size: 1.2em;
  font-weight: 800;
  text-align: start;
  justify-content: start;
  margin-top: 1rem;
  margin-left: 5px;
}

.luas-segitiga {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
}

.luas-segitiga h1 {
  display: flex;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.luas-segitiga .container-content {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 10px 12px;
  outline: none;
  margin: 5px 12px;
  border-radius: 4px;
  gap: 1rem;
  background: linear-gradient(to bottom, #f0f0f0, #ffffff);
}

.luas-segitiga input {
  display: block;
  width: auto;
  height: 1rem;
  padding: 10px 20px;
  transition: all 0.5s ease;
}
.luas-segitiga input:hover {
  transform: translateY(-5px);
  background: #fff;
  color: black;
  border: 2px solid;
}

.ini-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
  width: auto;
}

.ini-btn .btn-hitung {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  background: #1dc3fa;
  outline: none;
  border-radius: 4px;
  margin-bottom: 10px;
  margin: 1rem;
  transition: all 0.5s ease;
}

.ini-btn .btn-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  background: #fa9223;
  outline: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  margin: 2rem;
  margin-left: auto;
  transition: all 0.5s ease;
}

.ini-btn .btn-hitung:hover {
  transform: translateY(-5px);
  background: #fff;
  color: black;
  border: 2px solid;
}

.ini-btn .btn-reset:hover {
  transform: translateY(-5px);
  background: #fff;
  color: black;
  border: 2px solid;
}

.luas-segitiga .hasil-hitung {
  display: flex;
  justify-content: start;
  margin-right: auto;
  font-size: 1rem;
  font-weight: 700;
  gap: 1rem;
}

.keliling-segitiga {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 1rem;
  width: auto;
}

.keliling-segitiga h1 {
  font-size: 2rem;
  background-color: #0fe4e4;
  color: black;
  text-align: center;
  width: auto;
  padding: 15px 10px;
  border-radius: 4px;
}

.keliling-segitiga h4 {
  display: flex;
  position: absolute;
  margin-left: 5px;
  font-size: 1.3rem;
}

.keliling-segitiga h5 {
  display: block;
  font-size: 1.1rem;
  text-align: center;
  padding: 2rem 2rem;
  font-weight: 900;
}

.keliling-segitiga p {
  display: flex;
  font-size: 1.2em;
  font-weight: 800;
  text-align: start;
  justify-content: start;
  margin-top: 1rem;
  margin-left: 5px;
}

.hk-segitiga {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
}

.hk-segitiga h1 {
  display: flex;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.hk-segitiga .form-input {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 10px 12px;
  outline: none;
  margin: 5px 12px;
  border-radius: 4px;
  gap: 1rem;
  background: linear-gradient(to bottom, #f0f0f0, #ffffff);
}

.hk-segitiga input {
  display: block;
  width: auto;
  height: 1rem;
  padding: 10px 20px;
  transition: all 0.5s ease;
}

.hk-segitiga input:hover {
  transform: translateY(-5px);
  background: #fff;
  color: black;
  border: 2px solid;
}

.hk-segitiga .button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
  width: auto;
}

.button-content .button-hitung {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  background: #1dc3fa;
  outline: none;
  border-radius: 4px;
  margin-bottom: 10px;
  margin: 1rem;
  transition: all 0.5s ease;
}

.button-content .button-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  background: #fa9223;
  outline: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  margin: 2rem;
  margin-left: auto;
  transition: all 0.5s ease;
}

.button-content .button-hitung:hover {
  transform: translateY(-5px);
  background: #fff;
  color: black;
  border: 2px solid;
}

.button-content .button-reset:hover {
  transform: translateY(-5px);
  background: #fff;
  color: black;
  border: 2px solid;
}

.button-content .hasil-hitung {
  display: flex;
  justify-content: start;
  margin-right: auto;
  font-size: 1rem;
  font-weight: 700;
  gap: 1rem;
}

.copyright p {
  text-align: center;
  padding: 20px;
  color: #979797;
  font-size: 15px;
  background-color: #242121;
}
